<script>if(window.location.pathname=='/'){ location.href="https://info.pulpowms.com/pulpo-wms-de";} else if(window.location.pathname=='/en/') location.href="https://info.pulpowms.com/pulpo-wms-en"; else location.href="https://info.pulpowms.com/pulpo-wms-es";</script>
